<div class="pagination" role="pagination">
    {% assign url = site.baseurl | append: "/" %}
    {% if page.previous %}
        {% if page.previous > 1 %}
            {% assign prev = 'page/' | append: page.previous %}
        {% endif %}
        <div class="alignable pull-left">
            <a class="prev" href="{{ url | append: prev }}" title="Articles new"><i class="icon-left-open"></i> Prev</a>
        </div>
    {% else %}
        <div class="alignable pull-left"><span class="prev disabled"><i class="icon-left-open"></i> Prev</span></div>
    {% endif %}
    <div class="alignable pull-left text-center">
        <span></span>
    </div>
    {% if page.next %}
        <div class="alignable pull-left text-right">
            <a class="next" href="{{ url | append: 'page/' | append: next }}" title="Articles old">Next <i class="icon-right-open"></i></a>
        </div>
    {% else %}
        <div class="alignable pull-left text-right"><span class="next disabled">Next <i class="icon-right-open"></i></span></div>
    {% endif %}
</div>
